In [3]:
import numpy a  import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

SyntaxError: invalid syntax (3264968638.py, line 1)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('G:/Projects/Kaggle/Popular Movies of IMDb/TMDb_updated.CSV')

In [6]:
df.head()

,Unnamed: 0,title,overview,original_language,vote_count,vote_average
0,0,Ad Astra,"The near future, a time when both hope and har...",en,2853,5.9
1,1,Bloodshot,"After he and his wife are murdered, marine Ray...",en,1349,7.2
2,2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,en,2530,7.1
3,3,Ant-Man,Armed with the astonishing ability to shrink i...,en,13611,7.1
4,4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",en,3542,5.9

In [7]:
df.columns

Index(['Unnamed: 0', 'title', 'overview', 'original_language', 'vote_count',
       'vote_average'],
      dtype='object')